/target/
!.mvn/wrapper/maven-wrapper.jar

### LOG FILES ###
*.log*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/package-lock.json
/test.xml

### Osm related ###
bashscript/windows/osm2pgsql-bin/osm.bat
bashscript/unix/osm2pgsql-ux/osm.sh
