<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.openmapvalidator.mybatis.Mapper">
    <select id="selectPlaces" resultType="com.example.openmapvalidator.model.PlaceDBModel">
                SELECT * FROM public.planet_osm_point WHERE public_transport IS NULL AND name IS NOT NULL
    </select>

    <select id="countPlaces" resultType="java.lang.Integer">
                SELECT count(*) FROM public.planet_osm_point WHERE public_transport IS NULL AND name IS NOT NULL
    </select>
</mapper>